html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
}

#container{
    height: 300px;
    width: 400px;
    background-color: #9DD2EA;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px #009de4;
    position: relative;
}

#score{
    background-color: #f1ff92;
    color: #888e5f;
    padding: 5px;
    position: absolute;
    left: 350px;
    box-shadow: 0px 4px 0px #9da853;

}

#correct{
    position: absolute;
    left: 200px;
    background-color: #42e252;
    color: white;
    padding: 5px;
    display: none;


}

#wrong{
    position: absolute;
    left: 200px;
    background-color: #de401a;
    color: white;
    padding: 5px;
    display: none;
}

#question{
    width: 400px;
    height: 70px;
    background-color: #9da0ea;
    margin: 50px auto 10px auto;
    box-shadow: 0px 4px #535aa8;
    font-size: 50px;
    text-align: center;
    font-family: cursive, sans-serif;
}

#instruction{
    width: 400px;
    height: 50px;
    background-color: #b481d9;
    box-shadow:0px 4px #a153a8;
    margin: 10px auto;
    text-align: center;
    line-height: 50px;
}

#choices{
    width: 400px;
    height: 60px;
    margin: 5px auto;
}

.box{
    background-color: white;
    width: 70px;
    height: 60px;
    float: left;
    margin-right: 40px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px grey;
    text-align: center;
    line-height: 60px;
}

#box4{
    margin-right: 0;
}

.box:hover{
    background-color: #b481d9;
    box-shadow: 0px 4px #535aa8;
    color: white;
}