#container{
	margin: 100px auto;
	width: 360px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	background: #f7f7f7;
}

.completed{
	color: gray;
	text-decoration: line-through;
}

h1{
	background-color: #2980b9;
	color: white;
	padding: 10px 20px;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 24px;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}